Repository opnureyes2-del/sejrliste-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, flake8-errors, bandit-security, automation-pipeline

py-compile:
  name: Python Syntax Check
  entry: python3 -m py_compile
  language: system
  pass_filenames: true

flake8-errors:
  name: Flake8 Errors Only
  entry: flake8 --select=E9,F63,F7,F82 --show-source
  language: system
  pass_filenames: true

bandit-security:
  name: Security Check (Bandit)
  entry: bandit -ll -q
  language: system
  pass_filenames: true

automation-pipeline:
  name: Quality Pipeline
  entry: python3 scripts/automation_pipeline.py
  language: system
  pass_filenames: true
  verbose: true

PASS 1: Design, Logo & Desktop — About dialog, GObject import, 17 F821 bugfixes
  .directory
  10_ACTIVE/DESIGN_LOGO_DESKTOP_2026-01-27/SEJR_LISTE.md
  masterpiece_en.py
  scripts/automation_pipeline.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

Audit cleanup: 4 bug fixes, MD5 security fix, dead code archived
  10_ACTIVE/DESIGN_LOGO_DESKTOP_2026-01-27/SEJR_LISTE.md
  SCRIPT_REFERENCE.md
  STATUS_AUDIT_2026-01-28.md
  _CURRENT/LEARNED_TIPS.md
  _CURRENT/LIVE_STATUS.md
  _CURRENT/NEXT.md
  _CURRENT/OPTIMIZED_PROMPT.md
  _CURRENT/PATTERNS.json
  _CURRENT/PATTERNS.yaml
  _CURRENT/STATE.md
  _unused/README.md
  _unused/desktop_app.py
  _unused/services/active_workflow.py
  _unused/services/complete_timeline.py
  _unused/services/unified_sync.py
  app/sejr_app.py
  scripts/admiral_tracker.py
  scripts/auto_live_status.py
  scripts/automation_pipeline.py
  scripts/build_claude_context.py
  scripts/build_knowledge_base.py
  scripts/model_router.py
  scripts/token_tools.py
  scripts/update_claude_focus.py
Due: py-compile, flake8-errors, bandit-security

CLAUDE_USAGE_MASTERY Pass 3 COMPLETE: 30/30 — 3 new scripts + DNA enforcement
  10_ACTIVE/CLAUDE_USAGE_MASTERY_2026-01-27/AUTO_LOG.jsonl
  10_ACTIVE/CLAUDE_USAGE_MASTERY_2026-01-27/CLAUDE.md
  10_ACTIVE/CLAUDE_USAGE_MASTERY_2026-01-27/DNA_ENFORCEMENT_REPORT.md
  10_ACTIVE/CLAUDE_USAGE_MASTERY_2026-01-27/SEJR_LISTE.md
  10_ACTIVE/CLAUDE_USAGE_MASTERY_2026-01-27/STATUS.yaml
  10_ACTIVE/CLAUDE_USAGE_MASTERY_2026-01-27/VERIFY_STATUS.yaml
  scripts/ai_assistant.py
  scripts/dna_model_enforcer.py
  scripts/hybrid_generate.py
  scripts/model_router.py
Due: py-compile, flake8-errors, bandit-security

DESIGN_LOGO Pass 2+3 COMPLETE: 30/30 + masterpiece_en.py indentation fix
  10_ACTIVE/DESIGN_LOGO_DESKTOP_2026-01-27/AUTO_LOG.jsonl
  10_ACTIVE/DESIGN_LOGO_DESKTOP_2026-01-27/CLAUDE.md
  10_ACTIVE/DESIGN_LOGO_DESKTOP_2026-01-27/ENFORCEMENT_STATE.json
  10_ACTIVE/DESIGN_LOGO_DESKTOP_2026-01-27/SEJR_LISTE.md
  10_ACTIVE/DESIGN_LOGO_DESKTOP_2026-01-27/STATUS.yaml
  10_ACTIVE/DESIGN_LOGO_DESKTOP_2026-01-27/VERIFY_STATUS.yaml
  10_ACTIVE/KV1NT_ADMIRAL_PROTOCOLS_2026-01-29/INDEX_SYNC_REPORT.md
  10_ACTIVE/KV1NT_ADMIRAL_PROTOCOLS_2026-01-29/SEJR_LISTE.md
  assets/admiral-logo-symbolic.svg
  assets/icons/admiral-logo/128.png
  assets/icons/admiral-logo/16.png
  assets/icons/admiral-logo/256.png
  assets/icons/admiral-logo/32.png
  assets/icons/admiral-logo/48.png
  assets/icons/intro-system-icon/128.png
  assets/icons/intro-system-icon/16.png
  assets/icons/intro-system-icon/256.png
  assets/icons/intro-system-icon/32.png
  assets/icons/intro-system-icon/48.png
  assets/icons/sejrliste-icon/128.png
  assets/icons/sejrliste-icon/16.png
  assets/icons/sejrliste-icon/256.png
  assets/icons/sejrliste-icon/32.png
  assets/icons/sejrliste-icon/48.png
  assets/intro-system-icon-symbolic.svg
  assets/intro-system-icon.svg
  assets/sejrliste-icon-symbolic.svg
  masterpiece_en.py
  scripts/generate_icon_sizes.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

3_LAGS_ARKITEKTUR + LINEN_FRAMEWORK: Pass 2+3 COMPLETE (30/30 each)
  10_ACTIVE/3_LAGS_ARKITEKTUR_VIEW_2026-01-27/SEJR_LISTE.md
  10_ACTIVE/3_LAGS_ARKITEKTUR_VIEW_2026-01-27/STATUS.yaml
  10_ACTIVE/LINEN_FRAMEWORK_VIEW_2026-01-27/SEJR_LISTE.md
  10_ACTIVE/LINEN_FRAMEWORK_VIEW_2026-01-27/STATUS.yaml
  masterpiece_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

SYNC_FUNKTIONER_DEL21: Pass 1+2+3 COMPLETE (30/30)
  masterpiece_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

Fix .gitignore: Track ALL sejrliste files in 10_ACTIVE/
  .gitignore
  10_ACTIVE/3_LAGS_ARKITEKTUR_VIEW_2026-01-27/CLAUDE.md
  10_ACTIVE/DRAG_AND_DROP_2026-01-27/CLAUDE.md
  10_ACTIVE/DRAG_AND_DROP_2026-01-27/STATUS.yaml
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/AGENT_DOKUMENTATION.md
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/CLAUDE.md
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/INTRO/INDEX.md
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/PROJECT_BRIEF.md
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/SEJR_LISTE.md
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/STATUS.yaml
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/CLAUDE.md
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/SEJR_LISTE.md
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/STATUS.yaml
  10_ACTIVE/KV1NT_ADMIRAL_PROTOCOLS_2026-01-29/INDEX_SYNC_REPORT.md
  10_ACTIVE/LINEN_FRAMEWORK_VIEW_2026-01-27/CLAUDE.md
  10_ACTIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28/AGENT_DOKUMENTATION.md
  10_ACTIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28/CLAUDE.md
  10_ACTIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28/ENFORCEMENT_STATE.json
  10_ACTIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28/PROJECT_BRIEF.md
  10_ACTIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28/SEJR_LISTE.md
  10_ACTIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28/STATUS.yaml
  10_ACTIVE/SYNC_FUNKTIONER_DEL21_2026-01-27/CLAUDE.md
  10_ACTIVE/SYNC_FUNKTIONER_DEL21_2026-01-27/SEJR_LISTE.md
  10_ACTIVE/SYNC_FUNKTIONER_DEL21_2026-01-27/STATUS.yaml
Due: none

DRAG_AND_DROP Pass 2 KOMPLET + Pass 3 (5/6) + STOR_OPRYDNING arkiveret + ToastOverlay BUG FIX
  10_ACTIVE/DRAG_AND_DROP_2026-01-27/CLAUDE.md
  10_ACTIVE/DRAG_AND_DROP_2026-01-27/SEJR_LISTE.md
  10_ACTIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28/AGENT_DOKUMENTATION.md
  10_ACTIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28/CLAUDE.md
  10_ACTIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28/ENFORCEMENT_STATE.json
  10_ACTIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28/PROJECT_BRIEF.md
  90_ARCHIVE/INDEX.md
  90_ARCHIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28_20260130_020244/ARCHIVE_METADATA.yaml
  90_ARCHIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28_20260130_020244/CONCLUSION.md
  90_ARCHIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28_20260130_020244/SEJR_DIPLOM.md
  90_ARCHIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28_20260130_020244/SEJR_LISTE.md
  90_ARCHIVE/STOR_OPRYDNING_DEAD_CODE_2026-01-28_20260130_020244/STATUS.yaml
  masterpiece_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

DRAG_AND_DROP Pass 3 KOMPLET (30/30) GRAND ADMIRAL — app-to-desktop export + .zip export
  10_ACTIVE/DRAG_AND_DROP_2026-01-27/CLAUDE.md
  10_ACTIVE/DRAG_AND_DROP_2026-01-27/SEJR_LISTE.md
  10_ACTIVE/DRAG_AND_DROP_2026-01-27/STATUS.yaml
  90_ARCHIVE/INDEX.md
  masterpiece_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

Update .gitignore: ignore .venv/, .directory, and 90_ARCHIVE folders
  .gitignore
Due: none

Add INTRO data model + update 2 sejrlister progress
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/SEJR_LISTE.md
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/SEJR_LISTE.md
  intro_integration.py
Due: py-compile, flake8-errors, bandit-security

Add INTRO sidebar to GTK4 app + update sejrlister progress
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/SEJR_LISTE.md
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/SEJR_LISTE.md
  masterpiece_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

Add IntroIFilesView + update sejrlister (ELLE 57%, INTRO 32%)
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/SEJR_LISTE.md
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/SEJR_LISTE.md
  masterpiece_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

Add IntroStructureView + ELLE Pass 1 complete (ELLE 90%, INTRO 60%)
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/SEJR_LISTE.md
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/SEJR_LISTE.md
  masterpiece_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

Add IntroSystemView + ELLE Pass 1 complete (ELLE 100%, INTRO 81%)
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/SEJR_LISTE.md
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/SEJR_LISTE.md
  masterpiece_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

Add DNA Layers + Quick Actions views, INTRO Pass 1 complete (108/108)
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/SEJR_LISTE.md
  masterpiece_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

ELLE Pass 2 complete: E1-E6 test suite + F1-F6 system startup (12/12)
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/SEJR_LISTE.md
Due: none

ELLE Agent System Revival: ALL 3 PASSES COMPLETE (45/45)
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/SEJR_LISTE.md
Due: none

Archive ELLE_AGENT_SYSTEM_REVIVAL — 30/30 GRAND ADMIRAL (9th archived)
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/AGENT_DOKUMENTATION.md
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/CLAUDE.md
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/INTRO/INDEX.md
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/PROJECT_BRIEF.md
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/SEJR_LISTE.md
  10_ACTIVE/ELLE_AGENT_SYSTEM_REVIVAL_2026-01-28/STATUS.yaml
  90_ARCHIVE/INDEX.md
Due: none

INTRO Pass 2 complete: Search, Monitoring, Health, NavIndex, Architecture, Orders
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/SEJR_LISTE.md
  masterpiece_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

INTRO Pass 2 REVIEW complete: 10/10 score, 160/193 checkboxes
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/SEJR_LISTE.md
Due: none

INTRO Pass 3 complete: Performance, Visual, Naughty/Not, Keyboard, Git (193/193)
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/SEJR_LISTE.md
  masterpiece_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

Archive INTRO_FOLDER_SYSTEM — 29/30 GRAND ADMIRAL (10th archived)
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/CLAUDE.md
  10_ACTIVE/INTRO_FOLDER_SYSTEM_2026-01-27/STATUS.yaml
  90_ARCHIVE/INDEX.md
  90_ARCHIVE/INTRO_FOLDER_SYSTEM_2026-01-27_20260130_133352/ARCHIVE_METADATA.yaml
  90_ARCHIVE/INTRO_FOLDER_SYSTEM_2026-01-27_20260130_133352/AUTO_LOG.jsonl
  90_ARCHIVE/INTRO_FOLDER_SYSTEM_2026-01-27_20260130_133352/CONCLUSION.md
  90_ARCHIVE/INTRO_FOLDER_SYSTEM_2026-01-27_20260130_133352/SEJR_DIPLOM.md
  90_ARCHIVE/INTRO_FOLDER_SYSTEM_2026-01-27_20260130_133352/SEJR_LISTE.md
  90_ARCHIVE/INTRO_FOLDER_SYSTEM_2026-01-27_20260130_133352/STATUS.yaml
Due: none

Fix outdated _CURRENT docs: STATE, LIVE_STATUS, LEADERBOARD all showed false active/0% when ALL 10 sejr are ARKIVERET
  _CURRENT/LEADERBOARD.md
  _CURRENT/LIVE_STATUS.md
  _CURRENT/STATE.md
Due: none

fix: update NEXT.md to reflect reality (0 active, 10 archived, 296/300)
  _CURRENT/NEXT.md
Due: none

Sejrliste system: 2 nye aktive + STOR_OPRYDNING scoring fikset
  10_ACTIVE/INTRO_DNA_AABNE_TASKS_2026-01-30/CLAUDE.md
  10_ACTIVE/INTRO_DNA_AABNE_TASKS_2026-01-30/PROJECT_BRIEF.md
  10_ACTIVE/INTRO_DNA_AABNE_TASKS_2026-01-30/SEJR_LISTE.md
  10_ACTIVE/INTRO_DNA_AABNE_TASKS_2026-01-30/STATUS.yaml
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/CLAUDE.md
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/PROJECT_BRIEF.md
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/SEJR_LISTE.md
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/STATUS.yaml
  _CURRENT/LIVE_STATUS.md
  _CURRENT/NEXT.md
Due: none

Dessert: sejr_dashboard.sh — terminal enforcement dashboard
  scripts/sejr_dashboard.sh
Due: none

OPTIMERINGER Pass 1: D-G DONE (29/30 checkboxes, 10/10 score)
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/SEJR_LISTE.md
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/STATUS.yaml
Due: none

Update sejrlister: OPTIMERINGER Pass 2 done (9/10), INTRO_DNA A1+B1-B5+C1
  10_ACTIVE/INTRO_DNA_AABNE_TASKS_2026-01-30/SEJR_LISTE.md
  10_ACTIVE/INTRO_DNA_AABNE_TASKS_2026-01-30/STATUS.yaml
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/SEJR_LISTE.md
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/STATUS.yaml
Due: none

PASS 3: 7-DNA Review complete — 9.5/10, total 26.5/30
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/SEJR_LISTE.md
Due: none

ARCHIVE: OPTIMERINGER O4-O15 — 27/30 GRAND ADMIRAL
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/CLAUDE.md
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/PROJECT_BRIEF.md
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/SEJR_LISTE.md
  10_ACTIVE/OPTIMERINGER_O4_O15_2026-01-30/STATUS.yaml
  90_ARCHIVE/INDEX.md
Due: none

Session 25: Unified cross-device app + feedback loop + Tailscale
  .streamlit/config.toml
  _CURRENT/PATTERNS.json
  _CURRENT/PATTERNS.yaml
  _CURRENT/STATE.md
  masterpiece_en.py
  scripts/auto_archive.py
  scripts/generate_sejr.py
  scripts/sejrliste_status.sh
  scripts/show_phone_url.sh
  start-web.sh
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

Cleanup: remove old desktop launcher, update patterns + status
  10_ACTIVE/INTRO_DNA_AABNE_TASKS_2026-01-30/STATUS.yaml
  _CURRENT/PATTERNS.json
  _CURRENT/PATTERNS.yaml
  sejrliste.desktop
Due: none

README v3.0.0: Complete system documentation — 6 access methods, 25 scripts, feedback loop
  README.md
Due: none

Add cron wrappers: desktop notification on failure + log rotation + pytest
  scripts/cron_auto_learn.sh
  scripts/cron_health_check.sh
Due: none

Fix all 13 test failures: 77/77 tests now pass
  app/model_router.py
  app/models/model_handler.py
  app/tests/test_executor.py
  app/tests/test_integrations.py
  app/tests/test_model_handler.py
  app/tests/test_visual_polish.py
  app/widgets/visual_polish.py
  scripts/generate_icon_sizes.py
  web_app.py
  web_app_en.py
Due: py-compile, flake8-errors, bandit-security

Path conditions:
  py-compile: any of: \.py$
  flake8-errors: any of: \.py$
  bandit-security: any of: \.py$
  automation-pipeline: any of: masterpiece_en\.py$
