Repository opnureyes2-del/sejrliste-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, flake8-errors, bandit-security, automation-pipeline

.pre-commit-config.yaml:

# Pre-commit hooks for sejrliste systemet
# Kører automatisk FØR hvert git commit
# Installation: cd "sejrliste systemet" && pre-commit install
repos:
  - repo: local
    hooks:
      # 1. Syntax check — fanger syntax errors INDEN commit
      - id: py-compile
        name: Python Syntax Check
        entry: python3 -m py_compile
        language: system
        files: '\.py$'
        pass_filenames: true

      # 2. Flake8 — kode-stil (kun errors, ikke style warnings)
      - id: flake8-errors
        name: Flake8 Errors Only
        entry: flake8 --select=E9,F63,F7,F82 --show-source
        language: system
        files: '\.py$'
        pass_filenames: true

      # 3. Bandit — sikkerhedscheck (kun High/Medium)
      - id: bandit-security
        name: Security Check (Bandit)
        entry: bandit -ll -q
        language: system
        files: '\.py$'
        pass_filenames: true

      # 4. Automation Pipeline — fuld kvalitetskontrol
      - id: automation-pipeline
        name: Quality Pipeline
        entry: python3 scripts/automation_pipeline.py
        language: system
        files: 'masterpiece_en\.py$'
        pass_filenames: true
        verbose: true

Big cleanup: centralize YAML, fix dead refs, delete .venv (40MB)
  .gitignore
  _CURRENT/SESSION_2026-01-26_ENTERPRISE_POLISH.md
  app/utils/yaml_parser.py
  pages/1_Aktiv_Sejr.py
  scripts/admiral_tracker.py
  scripts/auto_archive.py
  scripts/auto_health_check.py
  scripts/auto_learn.py
  scripts/auto_predict.py
  scripts/auto_track.py
  scripts/auto_verify.py
  scripts/build_claude_context.py
  scripts/update_claude_focus.py
Due: py-compile, flake8-errors, bandit-security

Organize root to ADMIRAL standard: docs/, scripts cleanup, dead code to _unused
  .gitignore
  DNA.yaml
  README.md
  _CURRENT/STATE.md
  docs/ADMIRAL.md
  docs/ADMIRAL_EN.md
  docs/ARBEJDSFORHOLD.md
  docs/ARCHITECTURE_EN.md
  docs/ARKITEKTUR.md
  docs/EKSEMPLER.md
  docs/EXAMPLES_EN.md
  docs/INCOMPLETE_CHECK.md
  docs/INCOMPLETE_CHECK_EN.md
  docs/LOG_FORMAT.md
  docs/LOG_FORMAT_EN.md
  docs/MANUAL.md
  docs/MANUAL_EN.md
  docs/MODEL_ONBOARDING.md
  docs/MODEL_ONBOARDING_EN.md
  docs/PREVENTION_RULES.md
  docs/SCRIPT_REFERENCE.md
  docs/SCRIPT_REFERENCE_EN.md
  docs/STATUS_AUDIT_2026-01-28.md
  docs/WORKING_CONDITIONS_EN.md
  scripts/ai_assistant.py
  scripts/auto_live_status.py
  scripts/auto_optimize.py
  scripts/build_knowledge_base.py
  scripts/dna_model_enforcer.py
  scripts/hybrid_generate.py
  scripts/model_router.py
  scripts/sejr-terminal.sh
  scripts/sejr-watch.sh
  scripts/start_web_en.sh
  scripts/timestamp_utils.py
  scripts/view.py
  start_web.sh
Due: py-compile, flake8-errors, bandit-security

Permanent documentation upgrade: all 12 root files now ADMIRAL self-documenting
  .gitignore
  DNA.yaml
  README_EN.md
  enforcement_engine.py
  intro_integration.py
  masterpiece.py
  masterpiece_en.py
  requirements.txt
  sejr
  start-web.sh
  web_app.py
  web_app_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

Add doc-freshness health check + fix all 14 stale docs + OPERATIONS.md
  docs/ADMIRAL.md
  docs/ADMIRAL_EN.md
  docs/ARCHITECTURE_EN.md
  docs/ARKITEKTUR.md
  docs/EKSEMPLER.md
  docs/EXAMPLES_EN.md
  docs/LOG_FORMAT.md
  docs/LOG_FORMAT_EN.md
  docs/MANUAL.md
  docs/MANUAL_EN.md
  docs/MODEL_ONBOARDING.md
  docs/MODEL_ONBOARDING_EN.md
  docs/OPERATIONS.md
  docs/SCRIPT_REFERENCE.md
  docs/SCRIPT_REFERENCE_EN.md
  scripts/auto_health_check.py
Due: py-compile, flake8-errors, bandit-security

Fix stale doc CONTENT + add CHECK 8 content accuracy guard
  docs/ARCHITECTURE_EN.md
  docs/ARKITEKTUR.md
  docs/LOG_FORMAT.md
  docs/SCRIPT_REFERENCE.md
  docs/SCRIPT_REFERENCE_EN.md
  scripts/auto_health_check.py
Due: py-compile, flake8-errors, bandit-security

Fix 7 broken VERIFY_STATUS refs + CHECK 9 + SYSTEM_MAP + shell hardening
  app/sejr_app.py
  app/watcher.py
  docs/SYSTEM_MAP.md
  masterpiece.py
  masterpiece_en.py
  scripts/auto_health_check.py
  scripts/sejr-terminal.sh
  scripts/sejr-watch.sh
  scripts/start_web_en.sh
  start-web.sh
  web_app.py
  web_app_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

ADMIRAL: 32 bare except → typed + CHECK 10-11 + pre-commit gate
  app/context/__init__.py
  app/integrations/git_integration.py
  app/widgets/visual_polish.py
  masterpiece.py
  masterpiece_en.py
  pages/1_Aktiv_Sejr.py
  pages/5_Indstillinger.py
  scripts/auto_health_check.py
  scripts/auto_learn.py
  scripts/cron_auto_learn.sh
  scripts/cron_health_check.sh
  scripts/show_phone_url.sh
  scripts/view.py
  web_app.py
  web_app_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

ADMIRAL: count_checkboxes centraliseret + dead code fjernet + CHECK 12
  app/sessions/__init__.py
  checkbox_utils.py
  docs/SYSTEM_MAP.md
  masterpiece.py
  masterpiece_en.py
  pages/1_Aktiv_Sejr.py
  scripts/auto_health_check.py
  scripts/auto_verify.py
  web_app.py
  web_app_en.py
Due: py-compile, flake8-errors, bandit-security, automation-pipeline

ADMIRAL: unused imports fjernet + SYSTEM_MAP import graf opdateret
  docs/SYSTEM_MAP.md
  scripts/admiral_tracker.py
  scripts/automation_pipeline.py
Due: py-compile, flake8-errors, bandit-security

ADMIRAL: health check count harmoniseret (51 checks) i ALLE 7 docs
  README.md
  README_EN.md
  docs/ARCHITECTURE_EN.md
  docs/ARKITEKTUR.md
  docs/SCRIPT_REFERENCE.md
  docs/SCRIPT_REFERENCE_EN.md
  docs/SYSTEM_MAP.md
Due: none

ADMIRAL: health check count PERMANENT sync check + fix SYSTEM_MAP 52→51
  docs/SYSTEM_MAP.md
  scripts/auto_health_check.py
Due: py-compile, flake8-errors, bandit-security

ADMIRAL: alle 7 docs synkroniseret til 52 checks
  README.md
  README_EN.md
  docs/ARCHITECTURE_EN.md
  docs/ARKITEKTUR.md
  docs/SCRIPT_REFERENCE.md
  docs/SCRIPT_REFERENCE_EN.md
  docs/SYSTEM_MAP.md
Due: none

ADMIRAL: web_app_en.py fuld paritet + DNA.yaml komplet
  DNA.yaml
  web_app_en.py
Due: py-compile, flake8-errors, bandit-security

ADMIRAL: STATUS.yaml opdateret + icon assets synced
  10_ACTIVE/INTRO_DNA_AABNE_TASKS_2026-01-30/STATUS.yaml
  assets/icons/admiral-logo/128.png
  assets/icons/admiral-logo/16.png
  assets/icons/admiral-logo/256.png
  assets/icons/admiral-logo/32.png
  assets/icons/admiral-logo/48.png
  assets/icons/intro-system-icon/16.png
  assets/icons/intro-system-icon/256.png
  assets/icons/intro-system-icon/32.png
  assets/icons/intro-system-icon/48.png
  assets/icons/sejrliste-icon/16.png
  assets/icons/sejrliste-icon/256.png
  assets/icons/sejrliste-icon/32.png
  assets/icons/sejrliste-icon/48.png
Due: none

ADMIRAL: admiral_scanner.py — daglig cross-system auto-discovery
  _CURRENT/MORNING_BRIEFING.md
  scripts/admiral_scanner.py
  scripts/cron_admiral_scanner.sh
Due: py-compile, flake8-errors, bandit-security

ADMIRAL: CHECK 13 cron verification + scanner integration + docs sync
  README.md
  README_EN.md
  docs/ARCHITECTURE_EN.md
  docs/ARKITEKTUR.md
  docs/SCRIPT_REFERENCE.md
  docs/SCRIPT_REFERENCE_EN.md
  docs/SYSTEM_MAP.md
  scripts/auto_health_check.py
  scripts/sejrliste_status.sh
Due: py-compile, flake8-errors, bandit-security

Fix subprocess import in admiral_scanner.py infrastructure scan
  scripts/admiral_scanner.py
Due: py-compile, flake8-errors, bandit-security

Admiral Scanner: 3 CRITICAL → 0 CRITICAL
  _CURRENT/MORNING_BRIEFING.md
Due: none

Admiral Scanner v1.2: 0 CRITICAL, 0 MEDIUM achieved
  _CURRENT/MORNING_BRIEFING.md
  scripts/admiral_scanner.py
Due: py-compile, flake8-errors, bandit-security

Admiral Scanner v1.2: 0/0 + ELLE cleanup 19GB→1.2GB
  _CURRENT/MORNING_BRIEFING.md
Due: none

Admiral Scanner v1.3: ALL systems 99-100% green
  _CURRENT/MORNING_BRIEFING.md
  scripts/admiral_scanner.py
Due: py-compile, flake8-errors, bandit-security

Auto-generated morning briefing 2026-02-01
  _CURRENT/MORNING_BRIEFING.md
Due: none

Admiral Scanner: crontab stale-path check + fresh morning briefing
  _CURRENT/MORNING_BRIEFING.md
  scripts/admiral_scanner.py
Due: py-compile, flake8-errors, bandit-security

Fresh morning briefing: ALL systems 100%, 0/0/0
  _CURRENT/MORNING_BRIEFING.md
Due: none

Nye ikoner, command-center dashboard og opdateret morning briefing
  ADMIRAL_WORKSPACE.code-workspace
  _CURRENT/ADMIRAL_HEARTBEAT.json
  _CURRENT/MORNING_BRIEFING.md
  _CURRENT/PATTERNS.json
  _CURRENT/PATTERNS.yaml
  assets/context-icon.svg
  assets/elle-icon.svg
  assets/intro-system-icon.svg
  assets/manual-icon.svg
  assets/projekts-icon.svg
  assets/sejrliste-icon.svg
  assets/todo-icon.svg
  command-center/index.html
Due: none

Update morning briefing with latest scan data
  _CURRENT/MORNING_BRIEFING.md
Due: none

Auto-commit: scanner-generated files (2026-02-01 12:10)
  _CURRENT/ADMIRAL_HEARTBEAT.json
  _CURRENT/MORNING_BRIEFING.md
Due: none

Auto-commit: scanner-generated files (2026-02-01 14:15)
  _CURRENT/ADMIRAL_HEARTBEAT.json
  _CURRENT/MORNING_BRIEFING.md
Due: none

Admiral Brain auto-commit: no reason given (2026-02-01 18:41)
  _CURRENT/ADMIRAL_HEARTBEAT.json
  _CURRENT/MORNING_BRIEFING.md
Due: none

Auto-commit: scanner-generated files (2026-02-02 00:15)
  _CURRENT/ADMIRAL_HEARTBEAT.json
  _CURRENT/MORNING_BRIEFING.md
Due: none

Auto-commit: scanner-generated files (2026-02-02 06:15)
  _CURRENT/ADMIRAL_HEARTBEAT.json
  _CURRENT/MORNING_BRIEFING.md
Due: none

Auto-commit: scanner-generated files (2026-02-02 08:15)
  _CURRENT/MORNING_BRIEFING.md
Due: none

Admiral Brain auto-commit: Dirty git repo in safe list (2026-02-02 08:47)
  _CURRENT/PATTERNS.json
  _CURRENT/PATTERNS.yaml
Due: none

Security: add .env patterns to .gitignore
  .gitignore
Due: none

Admiral Brain auto-commit: Dirty repo in safe list (2026-02-02 11:03)
  _CURRENT/ADMIRAL_HEARTBEAT.json
  _CURRENT/MORNING_BRIEFING.md
Due: none

Admiral Brain auto-commit: Dirty files detected in safe repo (2026-02-02 12:04)
  _CURRENT/ADMIRAL_HEARTBEAT.json
  _CURRENT/MORNING_BRIEFING.md
Due: none

Admiral Brain auto-commit: Dirty repo with 2 files (2026-02-03 12:11)
  _CURRENT/ADMIRAL_HEARTBEAT.json
  _CURRENT/MORNING_BRIEFING.md
Due: none

Admiral Brain auto-commit: Dirty repo with 2 files (2026-02-03 18:14)
  _CURRENT/ADMIRAL_HEARTBEAT.json
  _CURRENT/MORNING_BRIEFING.md
Due: none

Admiral Brain auto-commit: Dirty repo with 2 files (2026-02-03 21:22)
  _CURRENT/ADMIRAL_HEARTBEAT.json
  _CURRENT/MORNING_BRIEFING.md
Due: none

Admiral Brain auto-commit: Dirty repo with 2 files (2026-02-04 00:15)
  _CURRENT/ADMIRAL_HEARTBEAT.json
  _CURRENT/MORNING_BRIEFING.md
Due: none
